head {
   background-image: url("http://www.baltana.com/files/wallpapers-2/Leaves-Background-Wallpaper-03522.jpg");
}
body {
    color: black;
}
h1 {
    color: forestgreen;
}
table, th, td {
    border: 5px solid #331a00;
}
blockquote {
    border: .5px groove #331a00;
    font-style: italic;
}

