head {
   background-image: url("http://www.baltana.com/files/wallpapers-2/Leaves-Background-Wallpaper-03522.jpg");
}
body {
    color: black;
}
h1 {
    color: #003300; font-family: "Lucida Console"; font-size: 50px; font-style: oblique;
}
h2 {
    color: #595959; 
}
p2 { font-style: normal #black;

}
table, th, td {
    border: 5px solid #331a00;
    font-style: normal ##1a0000;
}
blockquote {
    border: .5px dotted #331a00;
    font-style: italic;
}

